{% extends 'base.html.twig' %} {% block title %}Ajout de session{% endblock %}
{% block body %}

<h1>Ajout de session</h1>

{{ form_errors(sessionForm) }}
{{ form_start(sessionForm) }}
    {{ form_row(sessionForm.name) }}
    {{ form_row(sessionForm.available_places) }}
    {{ form_row(sessionForm.start_date) }}
    {{ form_row(sessionForm.end_date) }}
    {{ form_row(sessionForm.teacher) }}
    {{ form_row(sessionForm.pupils) }}

    <button type="submit">Ajouter session</button>
{{ form_end(sessionForm) }}
{% endblock %}