{% extends 'base.html.twig' %} {% block title %}Ajout de session{% endblock %}
{% block body %}

<h1>Ajout de session</h1>

{{ form_errors(sessionForm) }}
{{ form_start(sessionForm) }}
<div class="mb-3">
  {{ form_row(sessionForm.name) }}
</div>
<div class="mb-3">
  {{ form_row(sessionForm.available_places) }}
</div>
<div class="mb-3">
  {{ form_row(sessionForm.start_date) }}
</div>
<div class="mb-3">
  {{ form_row(sessionForm.end_date) }}
</div>
<div class="mb-3">
  {{ form_row(sessionForm.teacher) }}
</div>

<button type="submit">Ajouter session</button>
{{ form_end(sessionForm) }}
{% endblock %}
