{% extends 'base.html.twig' %} {% block title %}Détail {{ session.name }}{%
endblock %} {% block body %}

<h1>Détail {{ session.name }}</h1>

<h2>Formateur:</h2>

<strong> {{ session.teacher }} </strong>

<h2>
  {{ session.programs|length > 1 ? 'Programmes inclus:' : 'Programme inclus:' }}
</h2>

{% if session.programs|length > 0 %}

<table>
  <tr>
    <th>Module</th>
    <th>Catégorie</th>
    <th>Durée</th>
  </tr>

  {% for program in session.programs %}
  <tr>
    <td>{{ program.modules }}</td>
    <td>{{ program.modules.category.name }}</td>
    <td>{{ program.duration }}</td>
    <td>
      <a
        href="{{
          path('unlist_program', { program: program.id, session: session.id })
        }}"
        >Retirer</a
      >
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}

<p>Aucun programme trouvé...</p>
{% endif %}

<h2>
  {{ nonIncluded|length > 1 ? 'Programmes non inclus:' : 'Programme non inclus:' }}
</h2>

{% if nonIncluded|length > 0 %}

<table>
  <tr>
    <th>Module</th>
    <th>Catégorie</th>
    <th>Durée</th>
  </tr>

  {% for program in nonIncluded %}
  <tr>
    <td>{{ program.modules }}</td>
    <td>{{ program.modules.category.name }}</td>
    <td>
      <form
        method="POST"
        action="{{
          path('list_program', { program: program.id, session: session.id })
        }}"
      >
        <input
          type="number"
          name="nbJours"
          min="1"
          value="1"
          size="3"
          required
        />
        <button type="submit">Ajouter</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}

<p>Aucun programme trouvé...</p>
{% endif %}

<h2>
  {{ session.pupils|length > 1 ? 'Stagiaires inscrits:' : 'Stagiaire inscrit:' }}
</h2>

{% if session.pupils|length > 0 %}

<table>
  <tr>
    <th>Stagiaire</th>
  </tr>

  {% for pupil in session.pupils %}
  <tr>
    <td>{{ pupil }}</td>
    <td>
      <a
        href="{{
          path('unlist_pupil', { pupil: pupil.id, session: session.id })
        }}"
        >Désinscrire</a
      >
    </td>
  </tr>
  {% endfor %}
</table>

{% else %} {#
<p>Il n'y a pas de stagiaire inscrit à cette session...</p>
#}
<p>Aucun stagiaire trouvé...</p>
{% endif %}

<h2>
  {{ unattend|length > 1 ? 'Stagiaires non inscrits:' : 'Stagiaire non inscrit' }}
</h2>

{% if unattend|length > 0 %}

<table>
  <tr>
    <th>Stagiaire</th>
  </tr>

  {% for pupil in unattend %}
  <tr>
    <td>{{ pupil }}</td>
    <td>
      <a
        href="{{
          path('list_pupil', { pupil: pupil.id, session: session.id })
        }}"
        >Inscrire</a
      >
    </td>
  </tr>
  {% endfor %}
</table>

{% else %} {#
<p>Tous les stagiaires sont inscrits pour cette session...</p>
#}
<p>Aucun stagiaire trouvé...</p>
{% endif %} {% endblock %}
