{% extends 'base.html.twig' %} {% block title %}Liste des sessions{% endblock %}
{% block body %}

<h1 class="p-3">Liste des sessions</h1>

<h2 class="p-3">Sessions d'actualité</h2>

{% if sessionsCurr|length > 0 %}

<table class="table table-striped">
  <tr>
    <th>Intitulé</th>
    <th>Places disponibles</th>
    <th>Date de début</th>
    <th>Date de fin</th>
  </tr>

  {% for session in sessionsCurr %}
  <tr>
    <td>
      <a href="{{ path('detail_session', { id: session.id }) }}">{{
        session
      }}</a>
    </td>
    <td>{{ session.availablePlaces - session.pupils | length }}</td>
    <td>{{ session.startDateFr }}</td>
    <td>{{ session.endDateFr }}</td>
    <td>
      <a href="{{ path('remove_session', { id: session.id }) }}"
        ><i class="fa-solid fa-trash"></i
      ></a>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}

<p class="p-3">Aucune session trouvée...</p>
{% endif %}

<h2 class="p-3">Sessions à venir</h2>

{% if sessionsFuture|length > 0 %}

<table class="table table-striped">
  <tr>
    <th>Intitulé</th>
    <th>Places disponibles</th>
    <th>Date de début</th>
    <th>Date de fin</th>
  </tr>

  {% for session in sessionsFuture %}

  <tr>
    <td>
      <a href="{{ path('detail_session', { id: session.id }) }}">{{
        session
      }}</a>
    </td>
    <td>{{ session.availablePlaces - session.pupils | length }}</td>
    <td>{{ session.startDateFr }}</td>
    <td>{{ session.endDateFr }}</td>
    <td>
      <a href="{{ path('remove_session', { id: session.id }) }}"
        ><i class="fa-solid fa-trash"></i
      ></a>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}

<p class="p-3">Aucune session trouvée...</p>
{% endif %}

<h2 class="p-3">Sessions passées</h2>

{% if sessionsOld|length > 0 %}

<table class="table table-striped">
  <tr>
    <th>Intitulé</th>
    <th>Places disponibles</th>
    <th>Date de début</th>
    <th>Date de fin</th>
  </tr>

  {% for session in sessionsOld %}

  <tr>
    <td>
      <a href="{{ path('detail_session', { id: session.id }) }}">{{
        session
      }}</a>
    </td>
    <td>{{ session.availablePlaces - session.pupils | length }}</td>
    <td>{{ session.startDateFr }}</td>
    <td>{{ session.endDateFr }}</td>
    <td>
      <a href="{{ path('remove_session', { id: session.id }) }}"
        ><i class="fa-solid fa-trash"></i
      ></a>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}

<p class="p-3">Aucune session trouvée...</p>
{% endif %}

<button class="btn btn-success p-2">
  <a href="{{ path('add_session') }}"  class="add_session_button">Ajouter une session</a> <br />
</button>

{% endblock %}
