{% extends 'base.html.twig' %} {% block title %}Liste des sessions{% endblock %}
{% block body %}

<h1>Liste des sessions</h1>

<h2>Sessions d'actualité</h2>

{% for session in sessionsCurr %}

<div>
  <a href="{{ path('detail_session', { id: session.id }) }}">{{ session }}</a>
  <br />
  Places disponibles: {{ session.availablePlaces }} <br />
  Début: {{ session.startDateFr }} <br />
  Fin: {{ session.endDateFr }} <br />
  <a href="{{ path('remove_session', { id: session.id }) }}">Supprimer</a>
</div>
{% endfor %}

<h2>Sessions à venir</h2>

{% for session in sessionsFuture %}

<div>
  <a href="{{ path('detail_session', { id: session.id }) }}">{{ session }}</a>
  <br />
  Places disponibles: {{ session.availablePlaces }} <br />
  Début: {{ session.startDateFr }} <br />
  Fin: {{ session.endDateFr }} <br />
  <a href="{{ path('remove_session', { id: session.id }) }}">Supprimer</a>
</div>
{% endfor %}

<h2>Sessions passées</h2>

{% for session in sessionsOld %}

<div>
  <a href="{{ path('detail_session', { id: session.id }) }}">{{ session }}</a>
  <br />
  Places disponibles: {{ session.availablePlaces }} <br />
  Début: {{ session.startDateFr }} <br />
  Fin: {{ session.endDateFr }} <br />
  <a href="{{ path('remove_session', { id: session.id }) }}">Supprimer</a>
</div>
{% endfor %}

<a href="{{ path('add_session') }}">Ajouter une session</a> <br>

{% endblock %}
