{% extends 'base.html.twig' %} {% block title %}Liste des sessions{% endblock %}
{% block body %}

<h1>Liste des sessions</h1>

<h2>Sessions d'actualité</h2>

{% if sessionsCurr|length > 0 %}

<table>
  <tr>
    <th>Intitulé</th>
    <th>Places disponibles</th>
    <th>Date de début</th>
    <th>Date de fin</th>
  </tr>

  {% for session in sessionsCurr %}
  <tr>
    <td>
      <a href="{{ path('detail_session', { id: session.id }) }}">{{
        session
      }}</a>
    </td>
    <td>{{ session.availablePlaces - session.pupils | length }}</td>
    <td>{{ session.startDateFr }}</td>
    <td>{{ session.endDateFr }}</td>
    <td>
      <a href="{{ path('remove_session', { id: session.id }) }}">Supprimer</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}

<p>Aucune session trouvée...</p>
{% endif %}

<h2>Sessions à venir</h2>

{% if sessionsFuture|length > 0 %}

<table>
  <tr>
    <th>Intitulé</th>
    <th>Places disponibles</th>
    <th>Date de début</th>
    <th>Date de fin</th>
  </tr>

  {% for session in sessionsFuture %}

  <tr>
    <td>
      <a href="{{ path('detail_session', { id: session.id }) }}">{{
        session
      }}</a>
    </td>
    <td>{{ session.availablePlaces - session.pupils | length }}</td>
    <td>{{ session.startDateFr }}</td>
    <td>{{ session.endDateFr }}</td>
    <td>
      <a href="{{ path('remove_session', { id: session.id }) }}">Supprimer</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}

<p>Aucune session trouvée...</p>
{% endif %}

<h2>Sessions passées</h2>

{% if sessionsOld|length > 0 %}

<table>
  <tr>
    <th>Intitulé</th>
    <th>Places disponibles</th>
    <th>Date de début</th>
    <th>Date de fin</th>
  </tr>

  {% for session in sessionsOld %}

  <tr>
    <td>
      <a href="{{ path('detail_session', { id: session.id }) }}">{{
        session
      }}</a>
    </td>
    <td>{{ session.availablePlaces - session.pupils | length }}</td>
    <td>{{ session.startDateFr }}</td>
    <td>{{ session.endDateFr }}</td>
    <td>
      <a href="{{ path('remove_session', { id: session.id }) }}">Supprimer</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% else %}

<p>Aucune session trouvée...</p>
{% endif %}

<a href="{{ path('add_session') }}">Ajouter une session</a> <br />

{% endblock %}
